.footer{
    font-weight: 300;
    font-size: small;
    background: rgb(37, 35, 35);
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}